@import url('https://fonts.googleapis.com/css?family=Montserrat');

$mainblack:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;
*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   


}




body{
    background: $mainGreen;
}
